### Logistic regression
We need to represent line equation y = mx + c into the form mx+c-y=0

a1x1+a2x2+c=0

Logistic Regression is used when the dependent variable(target) is categorical. Link for Logistic Regression Explanation:

https://machinelearningmastery.com/logistic-regression-for-machine-learning/

https://towardsdatascience.com/logistic-regression-detailed-overview-46c4da4303bc

https://towardsdatascience.com/understanding-logistic-regression-9b02c2aec102

x+y -2 = 0

y = -x +2

In [ ]:
# Predicting chance of admit in the university using Admission_Predict.cvs

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [29]:
data = pd.read_csv("../datasets/Admission_Predict.csv")

In [30]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [31]:
# dropping unusable data
data = data.drop("Serial No.",axis=1)

In [32]:
data.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [42]:
#converting data into two class 1 or 0
data["Admitted"] = data["Chance of Admit "].apply(lambda x:1 if x>=0.5 else 0)

In [43]:
data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Admitted
0,337,118,4,4.5,4.5,9.65,1,0.92,1
1,324,107,4,4.0,4.5,8.87,1,0.76,1
2,316,104,3,3.0,3.5,8.00,1,0.72,1
3,322,110,3,3.5,2.5,8.67,1,0.80,1
4,314,103,2,2.0,3.0,8.21,0,0.65,1

In [44]:
X = data.drop("Admitted",axis=1)
y = data["Admitted"]

In [45]:
y

0      1
1      1
2      1
3      1
4      1
      ..
395    1
396    1
397    1
398    1
399    1
Name: Admitted, Length: 400, dtype: int64

In [46]:
scaler =StandardScaler()
X = scaler.fit_transform(X)

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=2)

In [49]:
clf = LogisticRegression()
clf.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [50]:
y_pred = clf.predict_proba(X_test)

In [51]:
y_pred.round(2)

array([[0., 1.],
       [0., 1.]])